@font-face {
  font-family: 'SolaimanLipi';
  src: url('SolaimanLipi.eot');
  src: url('SolaimanLipi.woff') format('woff'),
       url('SolaimanLipi.ttf') format('truetype'),
       url('SolaimanLipi.svg') format('svg'),
       url('SolaimanLipi-1.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}